---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Sanjyot (Sun·jyot) is a Computational Biology Ph.D. student at the CMU-Pitt Comp. Bio. (CPCB) Program. He is also the co-creator of 
			<a href='https://brainprot.org' target='_blank' class="underline">BrainProt.org</a>
		</p>
		<p>He majored in Mathematics with a B.S.-M.S. Integrated Dual Degree from Indian Institute of Technology (IIT) Bombay (2018-2023).</p>
		<p>He likes solving problems which are at the intersection of Math, ML/AI, and Biology.</p>
	</div>
</div>


