---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProjectList from '../../components/ProjectList.astro';
import { projects } from './projects';

---

<BaseLayout
	title="Research Publications"
	description="Sanjyot's Research Publications"
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-bold mb-2">Research Publications</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">Sanjyot's Research Publications</p>
    </div>
    <ProjectList projects={projects}/>
  </div>
</BaseLayout>
